@import url('https://fonts.googleapis.com/css2?family=Atomic+Age&family=Exo:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
  }
  
  .header {
    width: 100%;
    padding: 20px 30px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  
  .logo img {
    width: 150px;
  }

  
  .nav-links {
    display: flex;
    align-items: center;
    gap: 45px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
  }

  .nav-links a::before {
    content: '';
    display: block;
    position: relative;
    width: 0;
    height: 2px;
    top: 26px;
    left: 0;
    background: black;
    transition: width 0.3s ease-in-out;
  }

  .nav-links a:hover::before {
    width: 100%;
  }
  
  .signup-btn {
    padding: 12px 16px;
    background: black;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .signup-btn:hover {
    background: #45a049;
    color: white;
  }
  
  .burger {
    display: none;
    font-size: 26px;
    cursor: pointer;
  }
  
  .close-icon {
    display: none;
    font-size: 26px;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
  }
  
  /* Responsive Part */
  @media (max-width: 768px) {
    .nav-links {
      flex-direction: column;
      position: fixed;
      top: -100%;
      left: 0;
      right: 0;
      background: #f8f8f8;
      padding: 50px 20px;
      transition: top 0.3s ease-in-out;
      text-align: center;
      z-index: 10;
      gap: 17px;
    }
  
    .nav-links a, .signup-btn {
      margin: 10px 0;
    }
  
    .burger {
      display: block;
    }
  
    .close-icon {
      display: block;
    }
    
    .nav-links.active {
      top: 0;
    }
  }
  
/* Header End */
/* Hero Section Start */

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section {
  width: 95%;
  height: 90vh;
  background-color: #F4F6F5;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section .hero-text {
  width: 40%;
  padding: 20px;
}

.hero-text h1 {
  font-family: "poppins", sans-serif;
  font-size: 90px;
  color: black;
  font-weight: 900;
  line-height: 1.2;
}

.hero-text h1 .bg-white {
  background-color: white;
  padding: 0 10px;
  width: 300px;
  transform: rotate(-2deg);
}

.hero-text h1 .bg-yellow {
  background-color: #EBD96B;
  padding: 0 10px;
  width: 400px;
  transform: rotate(-2deg);
}

.hero-text p {
  font-family: "poppins", sans-serif;
  font-size: 20px;
  color: black;
  font-weight: 400;
  margin-top: 20px;
}

.hero-text .shop-now-btn {
  padding: 12px 16px;
  background: black;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}


.hero-image {
  width: 50%;
}

.hero-image img {
  width: 735px;
  height: auto;
  object-fit: cover;
  border-radius: 30px 0 0 30px;
}

@media (max-width: 1440px) {
  .main {
    height: auto;
  }

  .hero-section {
    flex-direction: column;
    height: auto;
  }

  .hero-text {
    width: 100%;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 80px;
  }

  .hero-image img {
    width: 600px;
  }
}

@media (max-width: 1024px) {
  .main {
    height: auto;
  }

  .hero-section {
    flex-direction: column;
    height: auto;
  }
  .hero-text h1 {
    font-size: 70px;
  }

  .hero-image img {
    width: 500px;
  }
}

@media (max-width: 768px) {
  .main {
    height: auto;
  }

  .hero-section {
    flex-direction: column;
    height: auto;
  }

  .hero-section .hero-text {
    width: 100%;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 50px;
  }

  .hero-image {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .hero-image img {
    width: 100%;
    border-radius: 30px 30px 0 0;
  }
}

@media (max-width: 480px) {
  .hero-text h1 {
    font-size: 40px;
  }

  .hero-text p {
    font-size: 16px;
  }

  .hero-text .shop-now-btn {
    padding: 10px 14px;
    font-size: 16px;
  }

  .hero-text h1 .bg-yellow {
    width: 250px;
  }
}

/* Hero Section End */
/* Product Section Start */

.section-2 {
  width: 100%;
  height: auto;
}

.company-logo {
  width: 100%;
  height: 10rem;
  background-color: #EBD96B;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.company-logo img {
  width: 140px;
  height: auto;
  object-fit: cover;
  mix-blend-mode: multiply;
}

@media (max-width: 768px) {
  .section-2 {
    height: auto;
    margin-top: 15px;
      }
  
  .company-logo img {
    width: 100px;
  }
}

/* section-2 end */
/* section 3 */

.section-3 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-3 {
  width: 85%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.container-3:nth-child(0) {
  position: relative;
  left: 0;
}

.container-3 .heading-3 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-3 h2 {
  font-family: "poppins", sans-serif;
  font-size: 40px;
  color: black;
  font-weight: 900;
  line-height: 1.2;
  text-align: left;
  width: 100%;
}

.leaf {
  position: relative;
  right: 100px;
  bottom: -10px;
  width: 120px;
  height: auto;
  object-fit: cover;
  z-index: -1;
}

.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
  position: relative;
}

.slide-content {
  margin: 0 50px;
  overflow: hidden;
  border-radius: 25px;
}

.card {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  gap: 24px;
}

.image-content,
.card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 14px;
  text-align: left;
  width: 100%;
}

.card-text {
  display: block;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.card-content h2 {
  font-family: "poppins", sans-serif;
  font-size: 20px;
  margin: 0;
  width: 100%;
  font-weight: 500;
  margin-bottom: 5px;
}

.card-content p {
  font-family: "poppins", sans-serif;
  font-size: 16px;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 25px 25px 0 25px;
}

.card-image {
  position: relative;
  height: auto;
  width: 300px;
  border-radius: 10px;
  background: #FFF;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}



@media screen and (max-width: 768px) {
  .slide-content {
      margin: 0 10px;
  }

  .card-wrapper {
    gap: 10px;
  }
}

@media screen and (max-width: 480px) {
  .container-3 {
    width: 100%;
  }

  .section-3 h2 {
    padding: 10px;
    font-size: 28px;
  }

  .slide-content {
      /* padding: 40px 25px; */
      padding: 0 10px;
  }

  .card-wrapper {
    gap: 15px;
  }
}

/* section 3 end */
/* section 4 */

.section-4 {
  width: 100%;
  height: auto;
}

.container-4 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  background-color: #F7DB53;
}

.left-4 {
  width: 50%;
  height: 100vh;
}

.left-4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-4 {
  width: 50%;
  height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.right-4 h2 {
  font-family: "poppins", sans-serif;
  font-size: 5rem;
  color: black;
  font-weight: 900;
  line-height: 1.2;
  text-align: left;
  width: 100%;
}

.bg-white-4, .bg-yellow, .bg-white {
  display: inline-block;
  transform: rotate(-2deg);
}

.right-4 h2 .bg-white-4 {
  background-color: white;
  width: 400px;
  transform: rotate(-2deg);
}

.right-4 .p-4 {
  font-family: "poppins", sans-serif;
  font-size: 23px;
  color: black;
  font-weight: 500;
  margin-top: 20px;
  text-align: left;
}

.date-4 {
  font-family: "poppins", sans-serif;
  font-size: 20px;
  color: black;
  font-weight: 800;
  margin-top: 20px;
}

.terms-4 {
  font-family: "poppins", sans-serif;
  font-size: 22px;
  color: black;
  font-weight: 400;
  margin-top: 20px;
}

.shop-now-btn-4 {
  padding: 12px 16px;
  background: black;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 20px;
  width: 150px;
}

@media (max-width: 992px) {
  .container-4 {
    height: auto;
    flex-direction: column;
    padding: 20px;
  }

  .left-4 {
    width: 100%;
    height: auto;
  }

  .left-4 img {
    width: 100%;
    height: auto;
  }

  .right-4 {
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .right-4 h2 {
    text-align: center;
  }
  .right-4 h2 .bg-white-4 {
    width: 380px;
  }

}

@media (max-width: 768px) {
  .container-4 {
    flex-direction: column;
    height: auto;
  }

  .left-4 {
    width: 100%;
    height: auto;
  }

  .left-4 img {
    width: 100%;
    height: auto;
  }

  .right-4 {
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .right-4 h2 {
    text-align: center;
  }
}

@media  (max-width: 480px) {
  .right-4 h2 {
    font-size: 40px;
  }

  .right-4 h2 .bg-white-4 {
    width: 300px;
  }

  .right-4 .p-4 {
    font-size: 18px;
    text-align: center;
  }

  .right-4 .date-4 {
    font-size: 16px;
  }

  .right-4 .terms-4 {
    font-size: 18px;
  }

  .shop-now-btn-4 {
    padding: 10px 14px;
    font-size: 16px;
    width: auto;
  }
  
}

@media screen and (max-width: 360px) {
  .right-4 h2 .bg-white-4 {
    width: 300px;
  }
}

/* section 4 end */
/* section 5 */
.section-5 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-5 {
  width: 85%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.container-5:nth-child(0) {
  position: relative;
  left: 0;
}

.container-5 .heading-5 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-5 h2 {
  font-family: "poppins", sans-serif;
  font-size: 40px;
  color: black;
  font-weight: 900;
  line-height: 1.2;
  text-align: left;
  width: 100%;
}

.leaf {
  position: relative;
  right: 100px;
  bottom: -10px;
  width: 120px;
  height: auto;
  object-fit: cover;
  z-index: -1;
}

.slide-container-5 {
  /* max-width: 1120px; */
  width: 100%;
  padding: 40px 0;
  position: relative;
}

.slide-content-5 {
  margin: 0 50px;
  overflow: hidden;
  border-radius: 25px;
}

.card-5 {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.card-wrapper-5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  gap: 24px;
}

.image-content-5,
.card-content-5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 14px;
  text-align: left;
  width: 100%;
}

.card-text-5 {
  display: block;
  width: 100%;
  height: 100%;
  gap: 5px;
}

.card-content-5 h2 {
  font-family: "poppins", sans-serif;
  font-size: 20px;
  margin: 0;
  width: 100%;
  font-weight: 500;
  margin-bottom: 5px;
}

.card-content-5 p {
  font-family: "poppins", sans-serif;
  font-size: 16px;
}

/* .overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 25px 25px 0 25px;
} */

.card-image-5 {
  position: relative;
  height: auto;
  width: 500px;
  border-radius: 10px;
  background: #FFF;
}

.card-image-5 img {
  height: 100%;
  width: 100%;
  /* object-fit: cover; */
  border-radius: 10px;
}



@media screen and (max-width: 768px) {
  .slide-content-5 {
      margin: 0 10px;
  }

  .card-wrapper-5 {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {

  .container-5 {
    width: 100%;
  }

  .slide-content-5 {
      padding: 40px 25px;
  }

  .card-wrapper-5 {
    gap: 10px;
  }

  .card-image-5 {
    width: 300px;
  }

  .card-image-5 img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 320px) {

  .slide-content-5 {
      padding: 40px 10px;
  }

  .card-wrapper-5 {
    gap: 5px;
  }

  .card-image-5 {
    width: 200px;
  }

  .card-image-5 img {
    width: 100%;
    height: auto;
  }
  
}


/* section 5 end */
/* section 6 */
.section-6 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-6 {
  width: 85%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.header-6 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  align-content: flex-start;
}

.heading-before {
  display: flex;
}

.header-6 h2::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 35px;
  background-color: #DB4444;
  top: 5px;
  left: 0;
  border-radius: 3px;
}

.header-6 h2 {
  font-family: "poppins", sans-serif;
  font-size: 40px;
  color: #DB4444;
  font-weight: 900;
  line-height: 1.2;
  text-align: left;
  width: 100%;
  margin-left: 28px;

}

.header-6 h3 {
  font-family: "poppins", sans-serif;
  font-size: 20px;
  color: black;
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
  width: 100%;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  width: 100%;
  gap: 20px;
  margin-top: 30px;
}

.product-card {
  background: #f9f9f9;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  padding: 20px;
  text-align: center;
  transition: 0.3s;
}

.product-card img {
  width: 100%;
  max-height: 150px;
  object-fit: contain;
}

.icons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.icons i {
  background: white;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.new-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #28a745;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 3px 7px;
  border-radius: 4px;
}

.add-to-cart {
  margin-top: 10px;
  width: 100%;
  background: black;
  color: white;
  padding: 10px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.3s;
}

.product-card:hover .add-to-cart {
  opacity: 1;
  transform: translateY(0);
}

.product-info {
  margin-top: 15px;
}

.product-info h3 {
  font-size: 16px;
  margin: 0;
  color: black;
  font-weight: 500;
}

.price-rating {
  margin-top: 8px;
  font-size: 14px;
  color: #555;
}

.price {
  color: #DB4444;
  margin-right: 10px;
  font-weight: 500;
}

.stars {
  color: orange;
}

.view-all-btn {
  margin-top: 30px;
  padding: 12px 26px;
  background: #DB4444;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
}

/* Responsive Media Queries */
@media screen and (max-width: 992px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 480px) {

  .container-6 {
    margin-top: 0;
  }
  .product-card img {
    max-height: 120px;
  }

  .product-info h3 {
    font-size: 14px;
  }

  .price-rating {
    font-size: 12px;
  }

  .view-all-btn {
    font-size: 24px;
    padding: 10px 20px;
  }
}

/* Section 6 end*/
/* Section 7 */

.section-7 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #E5C643;
  margin-top: 40px;
}

.container-7 {
  width: 85%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.container-7 h2 {
  font-family: "poppins", sans-serif;
  font-size: 40px;
  color: white;
  font-weight: 900;
  line-height: 1.2;
  text-align: center;
  width: 100%;
}

.container-7 p {
  font-family: "poppins", sans-serif;
  font-size: 20px;
  color: white;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  margin-top: 15px;
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.input-container input {
  width: 200px;
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 4px 0 0 4px;
  font-size: 16px;
}

.input-container button {
  padding: 10px 20px;
  background: black;
  color: white;
  border: 6px solid white;
  border-radius: 0 4px 4px 0;
  font-size: 16px;
  cursor: pointer;
}

@media  (max-width: 480px) {
  .container-7 h2 {
    font-size: 30px;
    color: white;
  }
  .container-7 p {
    font-size: 18px;
  }

}

/* section 7 end*/
/* footer */

.footer {
  width: 100%;
  height: 40vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-footer {
  width: 40%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-footer h2 {
  font-family: "poppins", sans-serif;
  font-size: 40px;
  color: white;
  font-weight: 900;
  line-height: 1.2;
  text-align: center;
  width: 100%;
}

.left-footer p {
  font-family: "poppins", sans-serif;
  font-size: 20px;
  color: white;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  margin-top: 15px;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.social-media img {
  width: 30px;
  height: auto;
  object-fit: cover;
  cursor: pointer;
}

.right-footer {
  width: 60%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 90px;
}

.right-footer .first, .second, .third {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.third {
  align-self: flex-start;
}

.right-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.right-footer li {
  font-family: "poppins", sans-serif;
  font-size: 20px;
  color: white;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  width: 100%;
}

.right-footer a {
  text-decoration: none;
  color: #7A7A7A;
  font-family: "poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    height: auto;
  }

  .left-footer {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }

  .right-footer {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
  }

  .right-footer li {
    text-align: center;
  }

  .right-footer .first, .second, .third {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
  }

  .third {
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .left-footer h2 {
    font-size: 30px;
  }

  .left-footer p {
    font-size: 18px;
  }

  .right-footer li {
    font-size: 16px;
  }

  .right-footer a {
    font-size: 16px;
  }

  .social-media img {
    width: 25px;
  }
  
}